<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XisCoreSensors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <XisCoreSensors.Properties.Settings>
            <setting name="LastLayoutPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EditModePasswordHash" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Protocol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLC_Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLC_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pulse_Time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SequenceTagName" serializeAs="String">
                <value>SEQ</value>
            </setting>
            <setting name="ImageTagName" serializeAs="String">
                <value>IMG</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </XisCoreSensors.Properties.Settings>
    </userSettings>
</configuration>